// :root {
//     --padding: 24px 32px 24px 32px;
//     --width: 20%;
// }

// $padding: var(--padding);
// $width: var(--width);

.box {
    // width: $width;
    // padding: $padding;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    box-sizing: border-box;

    .titleBar {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 4px;

        .title {
            font-size: 13px;
            line-height: 16px;
            font-weight: 700;
            margin: 0;
        }
    }

    .content {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        margin: 0 0 12px 0;
    }
}