.container {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 48px 40px 48px;
	background-color: white;

	.logoBar {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;

		.info {
			display: flex;
			gap: 16px;

			.text {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-family: "Inter", sans-serif;

				.title {
					font-size: 32px;
					line-height: 39px;
					font-weight: 600;
					margin: 0;
				}

				.content {
					font-size: 16px;
					line-height: 19px;
					font-weight: 400;
					display: flex;
					flex-direction: column;
					gap: 4px;

					p {
						margin: 0;
					}
				}
			}
		}
	}

	.guideBar {
		font-family: "Inter", sans-serif;
		margin-bottom: 40px;

		.title {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 16px;
		}

		.content {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
		}
	}

	.settingsBar {
		width: 100%;
		padding: 24px 0 0 0;
		border-top: 1px solid #BBBBBB;

		.titleBar {
			display: flex;
			align-items: center;
			gap: 24px;

			.text {
				font-family: "Inter", sans-serif;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				margin: 0;
			}
		}

		.stepBar {
			margin-top: 24px;
			font-family: "Inter", sans-serif;

			.stepTitle {
				margin: 0 0 8px 0;
			}

			.contentBox3 {
				width: 31%;
			}

			.contentBar1 {
				width: 100%;
				box-sizing: border-box;
				border-radius: 4px;
				border: solid 1px #CCCCCC;
				padding: 16px 24px 16px 24px;
				display: flex;
				flex-wrap: wrap;
				gap: 32px;

				.contentBox1 {
					width: 21%;
				}
			}

			.contentBar2 {
				width: 100%;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				// justify-content: space-between;
				row-gap: 24px;
				column-gap: 2.75%;

				.contentBox2 {
					width: 31.5%;
					height: 100%;
				}
			}

			.contentBar4 {
				padding: 40px;
				box-sizing: border-box;
				background-color: #393551;
				display: flex;
				flex-direction: column;
				gap: 24px;

				.contentBarLine {
					display: flex;
					flex-wrap: wrap;
					gap: 2.75%;
					row-gap: 24px;
				}

				.contentBox41 {
					width: 47.775%;
				}

				.contentBox42 {
					width: 31%;
				}
			}
		}

		.stepBar4 {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		.settingsBar {
			.stepBar {
				.contentBar1 {
					.contentBox1 {
						width: 29%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.container {
		.settingsBar {
			.stepBar {
				.contentBar4 {
					.contentBox42 {
						width: 47.775%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 656px) {
	.container {

		.logoBar {
			flex-direction: column;
			row-gap: 16px;

			button {
				align-self: flex-end;
			}
		}

		.settingsBar {
			.stepBar {
				.contentBar1 {
					.contentBox1 {
						width: 45%;
					}
				}

				.contentBar2 {
					column-gap: 4%;

					.contentBox2 {
						width: 48%;
					}
				}

				.contentBox3 {
					width: 48%;
				}

				.contentBar4 {
					.contentBox41 {
						width: 100%;
					}

					.contentBox42 {
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 484px) {
	.container {

		.settingsBar {

			.stepBar {

				.contentBar1 {
					.contentBox1 {
						width: 100%;
					}
				}

				.contentBar2 {
					.contentBox2 {
						width: 100%;
					}
				}

				.contentBox3 {
					width: 100%;
				}

				// .contentBar4 {
				// 	padding: 40px 10px 40px 10px;
				// 	width: 278px;
				// }
			}
		}
	}
}

@media screen and (max-width: 390px) {
	.container {

		padding: 40px 10px 40px 10px;
	}
}

@media screen and (max-width: 361px) {
	.container {

		.logoBar {

			.info {
				flex-direction: column;
				row-gap: 16px;

				img {
					max-width: 178px;
				}
			}
		}
	}
}